body {
    background-color: lightgreen;
    text-align: center;
    font-family: Verdana;
}

h1 {
    font-size: 80px;
    text-decoration: underline;
}

header {
    font-weight: bold;
    font-size: 60px;
    text-decoration: underline;
    text-align: center;
    background-color: lightgreen;
    color: black;
    border-style: solid;
    border-width: 10px;
    padding: 50px;
}

li {
    margin-left: 90px;
    color: black;
    font-size: 50px;
}

section ul {
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
}

section {
    background-color: rgb(200, 305, 200);
    border-style: solid;
}
img {
    width: 650px;
    height: 400px;
}
h2 {
    font-size: 30px;
    border-block-style: dotted;
}
h3 {
    font-size: 25px;
}
h4{
    color: darkgreen;
}

.bottompagecontact
{
    border-block: dotted;
    color: darkgreen;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    font-family: Verdana;
}