body {
    text-align: center;
    background-color: rgb(210, 305, 200);
    font-family: Verdana;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: medium;
    background-color: #e6f5ff
}
h4 {
      text-align: center;
}
h2 {
font-size: 40px;
border-block: dotted;
}
h1 {
font-size: 60px;
text-decoration: underline;
text-align: center;
}
header {
    font-weight: bold;
    font-size: 60px;
    text-decoration: underline;
    text-align: center;
    background-color: lightgreen;
    color: black;
    border-style: solid;
    border-width: 10px;
    padding: 50px;
}
li {
    margin-left: 90px;
    color: black;
    font-size: 50px;
}

section ul {
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
}
section {
    background-color: rgb(200, 305, 200);
    border-style: solid;
}
button {
    padding: 20px;
}
h4 {
   font-size: 20px;
}
h3 {
    font-size: 30px;
    border-block: dotted;
    color: darkgreen;
}
h4{
    color: darkgreen;
}
label {
    font-weight: bold;
    font-size: 20px;
}
input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: medium;
    background-color: #e6f5ff
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: medium;
    background-color: #e6f5ff
}
