body {
    background-color: lightgreen;
    
}

h1 {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
  
}

header {
    font-weight: bold;
    font-size: 60px;
    text-decoration: underline;
    text-align: center;
    background-color: lightgreen;
    color: black;
    border-style: solid;
    border-width: 10px;
    padding: 50px;
    
}
p {
    text-align: center;
}

ul{
    text-align: center;
}
li {
    margin-left: 90px;
    color: black;
    font-size: 50px;
    
}

section ul {
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
    
}
h3 {
    text-align: center;
}

section {
    background-color: rgb(200, 305, 200);
    border-style: solid;
    
}
