body {
    background-color: lightgreen;
    
}

h1 {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
  
}

header {
    font-weight: bold;
    font-size: 60px;
    text-decoration: underline;
    text-align: center;
    background-color: lightgreen;
    color: black;
    border-style: solid;
    border-width: 10px;
    padding: 50px;
    
}
p {
    text-align: center;
}

ul{
    text-align: center;
    position: relative;
    right: 60px;
}
li {
    margin-left: 90px;
    color: black;
    font-size: 50px;
    
}

section ul {
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
    
}
h3 {
    text-align: center;
}


.slideshow-container
{
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    vertical-align: middle;
}



.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

section {
    background-color: rgb(200, 305, 200);
    border-style: solid;
    
}

