nav {
    background-color: Black;
    text-align: left;
    padding: 50px;
    font-size: 45px;
    word-spacing: 25px;
    overflow: hidden;
    font-family: Verdana;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}

.topnav-right
{
    float: right;
}

.bottompagecontact {
    border-block: dotted;
    color: darkgreen;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    font-family: Verdana;
}